name: Release Build

on:
  workflow_run:
    workflows: ["Release Please"]
    types:
      - completed

jobs:
  build:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: actions/setup-node@v4
        with:
          node-version: 20

      - run: npm install
      - run: npm run build

      - uses: softprops/action-gh-release@v2
        with:
          files: build/ficbook-export.user.js
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
